

textarea{
    resize: none;
}

textarea.observatory-description{
    height:305px;
}

.weather {
    font-size: 10em;
    margin-top: -40px;
    height: 190px;
    text-align: center;
}

.weather-description{
    font-size: 2em;
}

.weather-humidity-icon{
    margin-left: 4px;
    margin-right: 2px;
}

.map{
    margin-bottom: 10px;
    height:300px;
}

.weather-infos{
    font-size: 1.2em;
    line-height: 1.2em;
    margin:15px 0;
}

.weather-infos-label{
    display: inline-block;
    margin-left: 10px;
}
